---
---
@import "minima";

.site-title, .site-title:visited {
    color: darkseagreen;
}

.site-header {
    border-top: 4px solid ghostwhite;
}

.post-title[style]{
     font-size: 30px !important;
}

.post-title {
    font-size: 20px;
}

#popUpDiv[style]{
    left:610px !important;
    top:0px !important;
}

/*! div style */
.image-gallery {
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
justify-content: center;
padding: 4px;
}

.box {
flex-basis: 25%;
width: 100%;
padding: 10px;
margin: 2px;
}

.img-gallery {
width: 100%;
height: 200px;
object-fit: cover;
transform: scale(1);
transition: all 0.3s ease-in-out;
&:hover {
transform: scale(1.05);
}}
